<!DOCTYPE html>
<html dir="ltr" lang="en_US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Youtube To MP3</title>
    <meta name="title" content="Meta Tags — Preview, Edit and Generate" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="google" content="notranslate" />
    <meta name="googlebot" content="archive" />
    <meta name="rating" content="General" />
    <meta name="distribution" content="Global" />
    <meta name="classification" content="All" />

    <!--  Essential META Tags -->
    <!-- Facebook -->
    <meta property="og:title" content="European Travel Destinations" />
    <meta
      property="og:description"
      content="Offering tour packages for individuals or groups."
    />
    <meta
      property="og:image"
      content="http://euro-travel-example.com/thumbnail.jpg"
    />
    <meta
      property="og:url"
      content="http://euro-travel-example.com/index.htm"
    />
    <meta property="og:type" content="website" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta
      property="twitter:title"
      content="Meta Tags — Preview, Edit and Generate"
    />
    <meta
      property="twitter:description"
      content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"
    />
    <meta
      property="twitter:image"
      content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
    />
    <!--  Non-Essential, But Recommended -->

    <meta property="og:site_name" content="European Travel, Inc." />
    <meta name="twitter:image:alt" content="Alt text for image" />

    <link rel="shortcut icon" type="image/png" href="/images/icon.png" />
    <link href="/style/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e8011b7a78.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Changa:400,600|Poppins:400,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/style/v4.3.1.css" />
    <!-- <script src="/js/popper.min.js"></script> -->
    <script src="/js/jq.slim.min.js"></script>
  </head>
  <body>
    <div class="body">
      <div class="logoImg">
        <img src="/images/logo.jpg" alt="youtubeCoverter" class="logoJPG" />
        <h1 class="titleYTB">Youtube To MP3 Converter <span>(v0.1)</span></h1>
      </div>

